.timer-container {
  font-size: 5rem;
  font-weight: bolder;
  min-width: 300px;
  height: 300px;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.message {
  animation: zoom 300ms ease-in-out;
  font-weight: normal;
  font-style: italic;
}

.blink {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
    /* color: attr(data-primary); */
  }
  50% {
    opacity: 0;
    /* color: attr(data-secondary); */
  }
  100% {
    opacity: 1;
    /* color: attr(data-primary); */
  }
}

@keyframes zoom {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
